[submodule "Fundamentals/html-foundations/odin-recipes"]
	path = Fundamentals/html-foundations/odin-recipes
	url = git@github.com:spectre-xenon/odin-recipes.git
[submodule "Fundamentals/Flexbox/odin-landing-page"]
	path = Fundamentals/Flexbox/odin-landing-page
	url = git@github.com:spectre-xenon/odin-landing-page.git
[submodule "Fundamentals/Javascript/odin-rock-paper-scissors"]
	path = Fundamentals/Javascript/odin-rock-paper-scissors
	url = git@github.com:spectre-xenon/odin-rock-paper-scissors.git
[submodule "Fundamentals/Javascript/odin-etch-a-sketch"]
	path = Fundamentals/Javascript/odin-etch-a-sketch
	url = git@github.com:spectre-xenon/odin-etch-a-sketch.git
[submodule "Fundamentals/Javascript/odin-calculator"]
	path = Fundamentals/Javascript/odin-calculator
	url = git@github.com:spectre-xenon/odin-calculator.git
[submodule "Full-Stack-Javascript/Intermediate-Html-Css/odin-sign-up"]
	path = Full-Stack-Javascript/Intermediate-Html-Css/odin-sign-up
	url = git@github.com:spectre-xenon/odin-sign-up.git
[submodule "Full-Stack-Javascript/Intermediate-Html-Css/odin-admin-dashboard"]
	path = Full-Stack-Javascript/Intermediate-Html-Css/odin-admin-dashboard
	url = git@github.com:spectre-xenon/odin-admin-dashboard.git
[submodule "Full-Stack-Javascript/Javascript/odin-library"]
	path = Full-Stack-Javascript/Javascript/odin-library
	url = git@github.com:spectre-xenon/odin-library.git
[submodule "Full-Stack-Javascript/Javascript/odin-tic-tac-toe"]
	path = Full-Stack-Javascript/Javascript/odin-tic-tac-toe
	url = git@github.com:spectre-xenon/odin-tic-tac-toe.git
[submodule "Full-Stack-Javascript/Javascript/odin-restaurant"]
	path = Full-Stack-Javascript/Javascript/odin-restaurant
	url = git@github.com:spectre-xenon/odin-restaurant.git
[submodule "Full-Stack-Javascript/Javascript/odin-todo"]
	path = Full-Stack-Javascript/Javascript/odin-todo
	url = git@github.com:spectre-xenon/odin-todo.git
[submodule "Full-Stack-Javascript/Javascript/odin-weather-app"]
	path = Full-Stack-Javascript/Javascript/odin-weather-app
	url = git@github.com:spectre-xenon/odin-weather-app.git
