[submodule "Fundamentals/html-foundations/odin-recipes"]
	path = Fundamentals/html-foundations/odin-recipes
	url = git@github.com:spectre-xenon/odin-recipes.git
[submodule "Fundamentals/Flexbox/odin-landing-page"]
	path = Fundamentals/Flexbox/odin-landing-page
	url = git@github.com:spectre-xenon/odin-landing-page.git
[submodule "Fundamentals/Javascript/odin-rock-paper-scissors"]
	path = Fundamentals/Javascript/odin-rock-paper-scissors
	url = git@github.com:spectre-xenon/odin-rock-paper-scissors.git
